openapi: 3.1.0
servers:
  - url: https://api.onvopay.com
    description: ONVO REST API
info:
  title: ONVO API
  version: "2.0"
  description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
tags:
  - name: Errores
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Paginación
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Monitoreo de fraude
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Autenticación 3DS
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Separar la autorización y la captura
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Marketplaces
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: SDK
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Métodos de pago de prueba
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Clientes
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Métodos de pago
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Intenciones de pago
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Reembolsos
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Productos
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Precios
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Cargos recurrentes
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Renovaciones
    description: "Las renovaciones representan cada período de cobro de un cargo recurrente. ONVO crea una renovación al inicio de la suscripción y en cada renovación exitosa. Cada renovación está asociada a una intención de pago y permite consultar el cobro que corresponde a ese período."
  - name: Tarifas de envío
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Sesiones de Checkout
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Cupones
    description: "Crea y administra cupones que pueden aplicarse a Checkout."
  - name: SINPE Móvil
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Depósito Bancario (SINPE PIN)
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Métodos de pago de prueba
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."

  - name: Plugin de WordPress
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Extensión para Magento
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."
  - name: Webhooks
    description: "Consultá la documentación de ONVO para ver detalles de integración y ejemplos."

components:
  securitySchemes:
    PublishableApiKey:
      type: http
      scheme: bearer
      description: |
        Las Publishable API Keys están definidas para ser usadas desde código fuente client-side, donde están expuestas en el código fuente que es accesible desde el navegador.

        Se pueden identificar fácilmente por su prefijo `onvo_test_publishable_key_` o `onvo_live_publishable_key_`.

        Uno de los usos de las Publishable API Keys es para la creación de un nuevo método de pago y para autenticar nuestro SDK en tu integración.

        El Authorization header debe empezar con 'Bearer ' y luego el Publishable API Key que obtenés en el dashboard de ONVO.

        Ej:
        ```
        'Authorization': 'Bearer onvo_test_publishable_key_VL3ln7fwTC1DiJGvGE0H5A-XYPNJDmoGtwcduXYTRtsuKRc4d1PXEh33Ju9RZRXGJkX0KsRV5-F540ciRCQosQ'
        ```
      bearerFormat: "Bearer onvo_api_key"
    SecretApiKey:
      type: http
      scheme: bearer
      description: |
        Las Secret API Keys están definidas para ser usadas desde código fuente server-side, donde deben mantenerse debidamente protegidas.

        Tus Secret API keys tienen muchos privilegios, mantenelas de forma segura. No compartás tus Secret API Keys ni las usés en código client-side.

        Se pueden identificar fácilmente por su prefijo `onvo_test_secret_key_` o `onvo_live_secret_key_`.

        Algunos de los usos de las Secret API Keys son crear una nueva intención de pago o un nuevo cargo recurrente.

        El Authorization header debe empezar con 'Bearer ' y luego la Secret API Key que obtenés en el dashboard de ONVO.

        Ej:
        ```
        'Authorization': 'Bearer onvo_test_secret_key_VL3ln7fwTC1DiJGvGE0H5A-XYPNJDmoGtwcduXYTRtsuKRc4d1PXEh33Ju9RZRXGJkX0KsRV5-F540ciRCQosQ'
        ```
      bearerFormat: "Bearer onvo_api_key"
  schemas:
    WebhookSucceedePaymentIntentResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: payment-intent.succeeded
        data:
          type: object
          description: El payload con la información de la intención de pago procesada exitosamente.
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
              example: "clcl69c7m0011jbapzx04kwfw"
            accountId:
              type: string
              description: "Identificador de la cuenta asociada al Payment Intent"
              readOnly: true
              example: "cx2bdw8ez0078agdp6dgpwfm3"
            currency:
              type: string
              description: "La moneda utilizada para crear el Payment Intent"
              readOnly: true
              example: "USD"
            amount:
              type: number
              description: El monto total, en la moneda seleccionada y en centavos de la intención de pago procesada.
              readOnly: true
              example: 500000
            status:
              type: string
              description: "El estado actual de la Intención de pago"
              readOnly: true
              example: "succeeded"
            confirmationAttempts:
              type: number
              description: La cantidad de veces que se intento procesar la intención de pago hasta que fue procesada correctamente.
              readOnly: true
              example: 1
            description:
              type: string
              description: "El motivo de la intención de pago procesada"
              readOnly: true
              example: "Checkout Session Intent"
            createdAt:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, de cuando se realizo el pago exitoso.
              example: 2023-01-01T21:21:10.587Z
            customer:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  example: "zl3ky7muu702201lfd4td647c"
                name:
                  type: string
                  readOnly: true
                  example: "John Doe"
                phone:
                  type: string
                  readOnly: true
                  example: "+50688888888"
                email:
                  type: string
                  readOnly: true
                  example: "johndoe@test.com"
            metadata: 
              type: object
              description: |
                Objeto opcional que puede ser utilizado para guardar información adicional sobre la intención de pago. Puede ser útil para guardar información como el ID de una orden de compra, el ID de un carrito de compras, etc. Podés especificar hasta `50` pares de llave-valor. Las llaves y valores deben ser de tipo `string`. El nombre de las llaves debe de tener una longitud máxima de `40` caracteres y los valores una longitud máxima de `500` caracteres.
              readOnly: false
              example:
                {
                  "orderId": "123456789",
                  "cartId": "987654321"
                }
    WebhookSucceedeSubscriptionResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: subscription.renewal.succeeded
        data:
          type: object
          description: El payload con la información de la subscripción renovada exitosamente.
          readOnly: true
          properties:
            mode:
              type: string
              description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
              readOnly: true
              enum:
                - test
                - live
            status:
              type: string
              description: El estado actual del pago de la suscripción. Puede ser `draft`, `open`, `paid`, `void`, `uncollectible`.
              example: "paid"
              enum:
                - draft
                - open
                - paid
                - void
                - uncollectible
            currency:
              type: string
              description: "La moneda utilizada para crear el Payment Intent"
              readOnly: true
              example: "USD"
            description:
              type: string
              description: Una descripción arbitraria del cargo recurrente.
              example: "Cargo recurrente de prueba"
              readOnly: true
            total:
              type: number
              description: El total del monto a cobrar en la subscripción.
              example: 2099
              readOnly: true
            periodStart:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que inició el periodo de facturación actual.
              example: 2022-06-12T21:21:10.587Z
              readOnly: true
            periodEnd:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que inició el periodo de facturación actual.
              example: 2022-06-12T21:21:10.587Z
              readOnly: true
            subscriptionId:
              type: string
              description: Identificador único de la subscripción pagada.
              readOnly: true
              example: "clcl69c7m0011jbapzx04kwfw"
            paymentIntentId:
              type: string
              description: Identificador único del intento de pago.
              readOnly: true
              example: "clcl69c7m0011jhtrfs04kwfw"
            customerId:
              type: string
              description: Identificador único del cliente asociado al cargo recurrente
              readOnly: true
              example: cl502zv0d0127ebdp3zt27651
    WebhookDeferredPaymentIntentResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: payment-intent.deferred
        data:
          type: object
          description: El payload con la información de la intención de pago y la descripción del error.
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
              example: "zl3ky7muu702201lfd4td647c"
            mode:
              type: string
              description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
              readOnly: true
              enum:
                - test
                - live
            currency:
              type: string
              description: "La moneda utilizada para crear el Payment Intent"
              readOnly: true
              example: "USD"
            status:
              type: string
              description: "El estado actual de la Intención de pago"
              readOnly: true
              example: "processing"
            confirmationAttempts:
              type: number
              description: La cantidad de veces que se intento procesar la intención de pago hasta que fue procesada correctamente.
              readOnly: true
              example: 1
            description:
              type: string
              description: "El motivo de la intención de pago procesada"
              readOnly: true
              example: "Deferred Checkout Session Intent with SINPE"
            createdAt:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, de cuando se realizo el pago exitoso.
              example: 2023-01-01T21:21:10.587Z
            amount:
              type: number
              description: El monto total, en la moneda seleccionada y en centavos de la intención de pago procesada.
              readOnly: true
              example: 500000
            baseAmount:
              type: number
              description: El monto total, en dolares y en centavos de la intención de pago procesada.
              readOnly: true
              example: 868
            paymentMethodId:
              type: string
              description: Identificador único del objeto de [Método de pago](#tag/Metodos-de-pago) previamente creado y asociado al mismo [Cliente](#tag/Clientes).
              example: cl502zv0d0127ebdp3zt27651
            customerId:
              type: string
              description: Identificador único del cliente asociado al cargo recurrente
              readOnly: true
              example: cl502zv0d0127ebdp3zt27651
            accountId:
              type: string
              description: "Identificador de la cuenta asociada al Payment Intent"
              readOnly: true
              example: "cx2bdw8ez0078agdp6dgpwfm3"
    WebhookErrorPaymentIntentResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: payment-intent.failed
        data:
          type: object
          description: El payload con la información de la intención de pago y la descripción del error.
          readOnly: true
          properties:
            id:
              type: string
              readOnly: true
              description: "Identificador del Payment Intent"
              example: "clcl69c7m0011jbapzx04kwfw"
            accountId:
              type: string
              description: "Identificador de la cuenta asociada al Payment Intent"
              readOnly: true
              example: "cx2bdw8ez0078agdp6dgpwfm3"
            currency:
              type: string
              description: "La moneda utilizada para crear el Payment Intent"
              readOnly: true
              example: "USD"
            status:
              type: string
              description: "El estado actual de la Intención de pago"
              readOnly: true
              example: "requires_payment_method"
            customer:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  example: "zl3ky7muu702201lfd4td647c"
                name:
                  type: string
                  readOnly: true
                  example: "John Doe"
                phone:
                  type: string
                  readOnly: true
                  example: "+50688888888"
                email:
                  type: string
                  readOnly: true
                  example: "johndoe@test.com"
            metadata: 
              type: object
              description: |
                Objeto opcional que puede ser utilizado para guardar información adicional sobre la intención de pago. Puede ser útil para guardar información como el ID de una orden de compra, el ID de un carrito de compras, etc. Podés especificar hasta `50` pares de llave-valor. Las llaves y valores deben ser de tipo `string`. El nombre de las llaves debe de tener una longitud máxima de `40` caracteres y los valores una longitud máxima de `500` caracteres.
              readOnly: false
              example:
                {
                  "orderId": "123456789",
                  "cartId": "987654321"
                }
            error:
              type: object
              properties:
                message:
                  type: string
                  readOnly: true
                  example: "Transaction declined due to test payment method used"
                code:
                  type: string
                  readOnly: true
                  example: "declined"
                type:
                  type: string
                  readOnly: true
                  example: "processing_error"
                paymentMethodType:
                  type: string
                  readOnly: true
                  example: "card"
                createdAt:
                  type: string
                  description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, de cuando sucedio el error.
                  example: 2023-01-01T21:21:10.587Z
    WebhookErrorSubscriptionResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: subscription.renewal.failed
        data:
          type: object
          description: El payload con la información de la renovación del cargo recurrente fallido y la descripción del error.
          readOnly: true
          properties:
            accountId:
              type: string
              description: "Identificador de la cuenta asociada al Cargo Recurrente"
              readOnly: true
              example: "cx2bdw8ez0078agdp6dgpwfm3"
            subscriptionId:
              type: string
              readOnly: true
              example: "clcl69c7m0011jbapzx04kwfw"
            paymentIntentId:
              type: string
              readOnly: true
              example: ""
            currency:
              type: string
              description: "La moneda utilizada para crear el Cargo Recurrente"
              readOnly: true
              example: "USD"
            invoiceStatus:
              type: string
              description: "El estado actual del Invoice correspondiente al Cargo Recurrente"
              readOnly: true
              example: "open"
            subscriptionStatus:
              type: string
              description: "El estado actual del Cargo Recurrente"
              readOnly: true
              example: "active"
            attemptCount:
              type: number
              readOnly: true
              example: 1
            invoicePeriodStart:
              type: string
              readOnly: true
              description: "La fecha de inicio para la factura correspondiente al Cargo Recurrente que se intenta procesar."
              example: 2023-01-10T21:21:10.587Z
            invoicePeriodEnd:
              type: string
              readOnly: true
              description: "La fecha final para la factura correspondiente al Cargo Recurrente que se intenta procesar."
              example: 2023-01-11T21:21:10.587Z
            periodStart:
              type: string
              readOnly: true
              description: "La fecha de inicio correspondiente al Cargo Recurrente."
              example: 2023-01-10T21:21:10.587Z
            periodEnd:
              type: string
              readOnly: true
              description: "La fecha final correspondiente al Cargo Recurrente."
              example: 2023-01-11T21:21:10.587Z
            nextPaymentAttempt:
              type: string
              readOnly: true
              description: "La fecha en la cual se intentara procesar de nuevo el Cargo Recurrente."
              example: 2023-02-11T21:21:10.587Z
            lastPaymentAttempt:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, de la ultima vez que se intento la renovación.
              example: 2023-01-01T21:21:10.587Z
            customer:
              type: object
              properties:
                id:
                  type: string
                  readOnly: true
                  example: "zl3ky7muu702201lfd4td647c"
                name:
                  type: string
                  readOnly: true
                  example: "John Doe"
                phone:
                  type: string
                  readOnly: true
                  example: "+50688888888"
                email:
                  type: string
                  readOnly: true
                  example: "johndoe@test.com"
            error:
              type: object
              properties:
                message:
                  type: string
                  readOnly: true
                  example: "Transaction declined due to test payment method used"
                code:
                  type: string
                  readOnly: true
                  example: "declined"
                type:
                  type: string
                  readOnly: true
                  example: "processing_error"
    WebhookSucceedeCSResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: checkout-session.succeeded
        data:
          type: object
          description: El payload con la información del checkout session procesado exitosamente.
          readOnly: true
          properties:
            mode:
              type: string
              description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
              readOnly: true
              enum:
                - test
                - live
            paymentStatus:
              type: string
              description: El estado actual del pago. Puede ser `unpaid`, `paid`.
              example: "paid"
              enum:
                - unpaid
                - paid
            currency:
              type: string
              description: "La moneda utilizada para crear el Checkout Session"
              readOnly: true
              example: "CRC"
            url:
              type: string
              description: La url del Checkout Session que se proceso.
              example: "Cargo recurrente de prueba"
              readOnly: true
            amountTotal:
              type: number
              description: El total del monto(centavos) a cobrar en el Checkout Session.
              example: 350000
              readOnly: true
            createdAt:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que creo el Checkout Session.
              example: 2022-06-12T21:21:10.587Z
              readOnly: true
            metadata: 
              type: object
              description: |
                Objeto opcional que puede ser utilizado para guardar información adicional sobre la Sesión de Checkout. Puede ser útil para guardar información como el ID de una orden de compra, el ID de un carrito de compras, etc. Podés especificar hasta `50` pares de llave-valor. Las llaves y valores deben ser de tipo `string`. El nombre de las llaves debe de tener una longitud máxima de `40` caracteres y los valores una longitud máxima de `500` caracteres.
              readOnly: false
              example:
                {
                  "orderId": "123456789",
                  "cartId": "987654321"
                }
            customer:
              type: object
              description: Lista de productos asociados al Checkout Session.
              properties:
                id:
                  type: string
                  description: Identificador unico del cliente asociado al Checkout Session
                name:
                  type: string
                  description: Nombre del cliente.
                  readOnly: true
                  example: John Doe
                phone:
                  type: string
                  description: "Número de teléfono asociado al cliente."
                  readOnly: true
                  example: +50688880000
                email:
                  type: string
                  description: "Correo electrónico asociado al cliente."
                  example: "john.doe@example.com"
            lineItems:
              type: array
              description: Lista de productos asociados al Checkout Session.
              readOnly: true
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Nombre asociado al item.
                    readOnly: true
                    example: Producto de Prueba
                  description:
                    type: string
                    description: Descripción asociada al item.
                    readOnly: true
                    example: Descripción del producto
                  currency:
                    type: string
                    description: "La moneda utilizada en el precio del item"
                    readOnly: true
                    example: "CRC"
                  amount:
                    type: integer
                    description: |
                      El monto en `CRC` del precio asociado al item.
                    example: 350000
                    readOnly: true
    WebhookMobileTransferResponse:
      type: object
      properties:
        type:
          type: string
          description: Identificador del evento recibido por el weebhook.
          readOnly: true
          example: mobile-transfer.received
        data:
          type: object
          description: El payload con la información de la transferencia SINPE Móvil recibida.
          readOnly: true
          properties:
            amount:
              type: number
              description: El monto enviado por medio de la transferencia, en formato de centavos.
              example: 1450000
            currency:
              type: string
              description: "La moneda utilizada para enviar la transferencia."
              readOnly: true
              example: "CRC"
            description:
              type: string
              description: Descripción añadida por el usuario al momento de enviar la transferencia.
              example: "PAG0 DE SERVICIOS"
            SINPERefNumber:
              type: string
              description: "Identificador unico de la transfenrecia."
              readOnly: true
              example: "2025110312774577852010"
            originId:
              type: string
              description: |
                El número de identificación del cliente asociado a la cuenta SINPE Móvil.
              example: 01-1393-1919
            originName:
              type: string
              description: Nombre completo de la persona que envia el SINPE Móvil
              example: JUAN PEREZ CASTRO
            originPhone:
              type: string
              description: Número telefónico asociado al cliente SINPE Móvil que envia la transferencia.
              example: "72940567"
            authorizationDate:
              type: string
              readOnly: true
              description: "La fecha en que fue enviada la transferencia"
              example: 2026-01-01T21:21:10.587Z
    NotFoundError:
      type: object
      properties:
        statusCode:
          type: integer
          example: 404
        message:
          type: string
          example: "No customer found with the specified id."
        error:
          type: string
          example: "NotFoundException"
    UnauthorizedError:
      type: object
      properties:
        statusCode:
          type: integer
          example: 401
        error:
          type: string
          example: "Unauthorized"
    ForbiddenError:
      type: object
      properties:
        statusCode:
          type: integer
          example: 403
        message:
          type: string
          example: "The provided API key is not valid."
        error:
          type: string
          example: "Forbidden"
    ValidationError:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: array
          items:
            type: string
          example:
            - "address.country must be a valid ISO31661 Alpha2 code"
        error:
          type: string
          example: "Bad Request"
    OnvoAPIError:
      type: object
      properties:
        code:
          type: string
          description: Código de error estable que podés usar para manejar el error en tu integración.
          example: cards.invalid_card_info
        path:
          type: string
          description: Ruta del endpoint que produjo el error.
          example: /v1/payment-methods
        type:
          type: string
          description: Tipo del error retornado por ONVO.
          example: OnvoAPIError
        message:
          type: string
          description: Mensaje legible que podés mostrar o registrar.
          example: There was an error with the card information provided. Please review card number, expiration date and cvv
        timestamp:
          type: string
          format: date-time
          description: Fecha y hora en la que ocurrió el error.
          example: 2026-04-29T17:36:28.477Z
        statusCode:
          type: integer
          description: Código HTTP del error.
          example: 400
    Error:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
          description: Código HTTP del error.
        apiCode:
          type: string
          example: insufficient_funds
          description: Error de código adicional presente en el objeto relacionado a errores de procesamiento de los métodos de pago.
        message:
          type: array
          description: Mensaje humanamente legible incluyendo más detalles acerca del error.
          items:
            type: string
          example:
            - "The provided payment method does not have enough funds to process the transaction."
        error:
          type: string
          description: Nombre HTTP del error.
          example: "Bad Request"
    Pagination:
      type: object
      properties:
        createdAt:
          type: object
          description: Un filtro basado en el atributo de `createdAt`
          properties:
            gt:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, que filtra los resultados donde `createdAt` es mayor que el valor especificado.
              example: 2022-06-12T21:21:10.587Z
            gte:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, que filtra los resultados donde `createdAt` es mayor o igual que el valor especificado.
              example: 2022-06-12T21:21:10.587Z
            lt:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, que filtra los resultados donde `createdAt` es menor que el valor especificado.
              example: 2022-06-12T21:21:10.587Z
            lte:
              type: string
              description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, que filtra los resultados donde `createdAt` es menor o igual que el valor especificado.
              example: 2022-06-12T21:21:10.587Z
        endingBefore:
          type: string
          description: "Un cursor usado para paginación. Corresponde al ID de un objeto existente."
          example: cl40muorw00493ndp0okzk2g3
        limit:
          type: number
          description: "Un límite en la cantidad de objetos a retornar. Puede ser un valor entre 1 y 100, el valor por defecto es 10."
          example: 10
        startingAfter:
          type: string
          description: "Un cursor usado para paginación. Corresponde al ID de un objeto existente."
          example: cl40muorw00493ndp0okzk2g3
    ListMeta:
      type: object
      description: Información de paginación para respuestas de listado.
      properties:
        total:
          type: number
          description: El número total de registros que coinciden con los filtros.
          example: 150
        pages:
          type: number
          description: El número total de páginas usando el límite aplicado.
          example: 15
        limit:
          type: number
          description: El límite aplicado a la página actual.
          example: 10
        cursorNext:
          type: string
          description: Cursor de respuesta para la siguiente página. Enviá este valor como el parámetro query `startingAfter` en la siguiente solicitud.
          example: cl40muorw00493ndp0okzk2g3
        cursorBefore:
          type: string
          description: Cursor de respuesta para la página anterior. Enviá este valor como el parámetro query `endingBefore` en la siguiente solicitud.
          example: cl40muorw00493ndp0okzk2g3
    MarketplaceValidationError:
      type: object
      additionalProperties: false
      required:
        - statusCode
        - message
        - error
      properties:
        statusCode:
          type: integer
          description: Código HTTP de validación.
        message:
          type: array
          description: Lista de campos o reglas que no pasaron la validación.
          items:
            type: string
        error:
          type: string
          description: Nombre HTTP del error.
    MarketplaceAPIError:
      type: object
      additionalProperties: false
      required:
        - statusCode
        - type
        - code
        - message
        - path
        - timestamp
      properties:
        statusCode:
          type: integer
          description: Código HTTP del error.
        type:
          type: string
          description: Tipo del error retornado por ONVO.
        code:
          type: string
          description: Código de error estable que podés usar para manejar el error en tu integración.
        message:
          type: string
          description: Mensaje legible que podés mostrar o registrar.
        path:
          type: string
          description: Ruta del endpoint que produjo el error.
        timestamp:
          type: string
          format: date-time
          description: Fecha y hora en la que ocurrió el error.
    ConnectedAccountPublic:
      type: object
      additionalProperties: false
      required:
        - id
        - mode
        - status
        - businessName
        - marketplaceAppFee
        - createdAt
      properties:
        id:
          type: string
          description: Identificador único de la cuenta conectada.
          example: cl502zv0d0127ebdp3zt27651
        mode:
          type: string
          description: Modo determinado por la Secret API Key de la cuenta primaria.
          enum:
            - test
            - live
          example: test
        status:
          type: string
          description: Estado actual de la cuenta conectada. La respuesta preserva el valor almacenado para mantener compatibilidad con cuentas antiguas.
          example: pending_onboarding
        businessName:
          type:
            - string
            - "null"
          description: Nombre comercial del vendedor. Solo puede ser `null` en cuentas antiguas sin perfil comercial.
          example: Tienda Conectada
        marketplaceAppFee:
          type: number
          format: double
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          description: Porcentaje efectivo de comisión del marketplace. `5` representa un 5 %; si se omite al crear la cuenta, retorna `0`.
          example: 5
        createdAt:
          type: string
          format: date-time
          description: Fecha y hora UTC en la que se creó la cuenta conectada.
          example: 2026-07-25T17:00:00.000Z
    ConnectedAccountCreateResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - mode
        - status
        - businessName
        - marketplaceAppFee
        - createdAt
        - onboardingUrl
      properties:
        id:
          type: string
          description: Identificador único de la cuenta conectada.
          example: cl502zv0d0127ebdp3zt27651
        mode:
          type: string
          description: Modo determinado por la Secret API Key de la cuenta primaria.
          enum:
            - test
            - live
          example: test
        status:
          type: string
          description: Estado actual de la cuenta conectada. La respuesta preserva el valor almacenado para mantener compatibilidad con cuentas antiguas.
          example: pending_onboarding
        businessName:
          type: string
          description: Nombre comercial del vendedor.
          example: Tienda Conectada
        marketplaceAppFee:
          type: number
          format: double
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          description: Porcentaje efectivo de comisión del marketplace. `5` representa un 5 %; si se omite al crear la cuenta, retorna `0`.
          example: 5
        createdAt:
          type: string
          format: date-time
          description: Fecha y hora UTC en la que se creó la cuenta conectada.
          example: 2026-07-25T17:00:00.000Z
        onboardingUrl:
          type: string
          format: uri
          description: Enlace alojado por ONVO para que el vendedor complete el onboarding. No lo registrés en logs ni lo expongás fuera del flujo de onboarding.
          example: https://onvopay.com/setup/account_onboarding_test_example
    ConnectedAccountList:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          type: array
          description: Lista de cuentas conectadas visibles para la cuenta primaria y el modo de la Secret API Key.
          items:
            $ref: "#/components/schemas/ConnectedAccountPublic"
        meta:
          $ref: "#/components/schemas/ListMeta"
    ConnectedAccountWeeklyFee:
      type: object
      additionalProperties: false
      required:
        - id
        - marketplaceWeeklyFeeEnabled
        - marketplaceWeeklyFeeAmount
        - marketplaceWeeklyFeeCurrency
      properties:
        id:
          type: string
          description: Identificador único de la cuenta conectada.
          example: cl502zv0d0127ebdp3zt27651
        marketplaceWeeklyFeeEnabled:
          type: boolean
          description: Indica si ONVO debe cobrar la tarifa semanal configurada.
          example: true
        marketplaceWeeklyFeeAmount:
          type:
            - integer
            - "null"
          minimum: 1
          maximum: 2147483647
          description: Monto semanal en la unidad menor de la moneda. Puede ser `null` mientras la tarifa está deshabilitada.
          example: 1000
        marketplaceWeeklyFeeCurrency:
          type:
            - string
            - "null"
          description: Moneda configurada para cobrar la tarifa semanal. Puede ser `null` mientras la tarifa está deshabilitada.
          enum:
            - USD
            - CRC
            - GTQ
            - PEN
            - null
          example: CRC
    ConnectedAccountOnboardingLink:
      type: object
      additionalProperties: false
      required:
        - id
        - onboardingUrl
      properties:
        id:
          type: string
          description: Identificador único de la cuenta conectada.
          example: cl502zv0d0127ebdp3zt27651
        onboardingUrl:
          type: string
          format: uri
          description: Nuevo enlace alojado por ONVO para completar el onboarding. El enlace anterior queda expirado.
          example: https://onvopay.com/setup/account_onboarding_test_example
    CustomerList:
      type: object
      properties:
        data:
          type: array
          description: Lista de clientes.
          items:
            $ref: "#/components/schemas/Customer"
        meta:
          $ref: "#/components/schemas/ListMeta"
    PaymentMethodList:
      type: object
      properties:
        data:
          type: array
          description: Lista de métodos de pago.
          items:
            $ref: "#/components/schemas/PaymentMethodResponse"
        meta:
          $ref: "#/components/schemas/ListMeta"
    PaymentIntentList:
      type: object
      properties:
        data:
          type: array
          description: Lista de intenciones de pago.
          items:
            $ref: "#/components/schemas/PaymentIntent"
        meta:
          $ref: "#/components/schemas/ListMeta"
        metadataKeys:
          type: array
          description: Claves de metadata disponibles para las intenciones de pago, cuando se solicitan con `includeMetadataKeys`.
          items:
            type: string
          example:
            - orderId
            - customerReference
    ProductList:
      type: object
      properties:
        data:
          type: array
          description: Lista de productos.
          items:
            $ref: "#/components/schemas/Product"
        meta:
          $ref: "#/components/schemas/ListMeta"
    PriceList:
      type: object
      properties:
        data:
          type: array
          description: Lista de precios.
          items:
            $ref: "#/components/schemas/Price"
        meta:
          $ref: "#/components/schemas/ListMeta"
    SubscriptionList:
      type: object
      properties:
        data:
          type: array
          description: Lista de cargos recurrentes.
          items:
            $ref: "#/components/schemas/Subscription"
        meta:
          $ref: "#/components/schemas/ListMeta"
    InvoiceListMeta:
      type: object
      description: Información de paginación para respuestas de listado de renovaciones.
      properties:
        total:
          type: number
          description: El número total de renovaciones que coinciden con los filtros.
          example: 150
        pages:
          type: number
          description: El número total de páginas usando el límite aplicado.
          example: 6
        limit:
          type: number
          description: El límite aplicado a la página actual.
          example: 25
        startingAfter:
          type: string
          description: Cursor de respuesta para la siguiente página. Enviá este valor como el parámetro query `startingAfter` en la siguiente solicitud.
          example: cl40muorw00493ndp0okzk2g3
        endingBefore:
          type: string
          description: Cursor de respuesta para la página anterior. Enviá este valor como el parámetro query `endingBefore` en la siguiente solicitud.
          example: cl40muorw00493ndp0okzk2g3
    InvoiceList:
      type: object
      properties:
        data:
          type: array
          description: Lista de renovaciones.
          items:
            $ref: "#/components/schemas/Invoice"
        meta:
          $ref: "#/components/schemas/InvoiceListMeta"
    ShippingRateList:
      type: object
      properties:
        data:
          type: array
          description: Lista de tarifas de envío.
          items:
            $ref: "#/components/schemas/ShippingRate"
        meta:
          $ref: "#/components/schemas/ListMeta"
    MobileTransfer:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del pago por SINPE Móvil.
          readOnly: true
          example: "clm8x9abc0001jk08example12"
        mode:
          type: string
          description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
          readOnly: true
          enum:
            - test
            - live
          example: "live"
        amount:
          type: number
          description: El monto del pago, en centavos.
          readOnly: true
          example: 1500000
        currency:
          type: string
          description: La moneda del pago en formato ISO 4217.
          readOnly: true
          example: "CRC"
        status:
          type: string
          description: El estado actual del pago por SINPE Móvil.
          readOnly: true
          enum:
            - pending
            - received
            - attempt_not_found
            - charge_not_found
            - expired
            - canceled
          example: "received"
        description:
          type: string
          description: La descripción enviada con el pago por SINPE Móvil.
          readOnly: true
          example: "Pago factura 12345"
        SINPERefNumber:
          type: string
          description: El número de referencia único de 25 caracteres asignado por SINPE a la transferencia.
          readOnly: true
          example: "2025121616183220990502000"
        originId:
          type: string
          description: |
            El número de identificación (cédula) del remitente. El formato varía según el tipo:
            - Cédula física: 0#-####-####
            - DIMEX: 1###########
            - Cédula jurídica: 2-###-###### o 3-###-######
            - NITE: 4-000-######
            - DIDI: 5###########
            - Pasaporte/Otro: 9###########
          readOnly: true
          example: "01-1393-1919"
        originName:
          type: string
          description: El nombre del remitente.
          readOnly: true
          example: "Juan Pérez Rodríguez"
        destinationPhone:
          type: string
          description: El número de teléfono de destino (tu número móvil personalizado).
          readOnly: true
          example: "70196686"
        authorizationDate:
          type: string
          format: date-time
          description: Fecha y hora en que el banco autorizó la transferencia.
          readOnly: true
          example: "2024-01-15T14:30:00.000Z"
        createdAt:
          type: string
          format: date-time
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue recibido el pago.
          readOnly: true
          example: "2024-01-15T14:30:05.587Z"
        paymentIntentId:
          type: string
          description: El ID de la intención de pago asociada, si existe. Si es null, la transferencia aún no ha sido vinculada a un pago.
          readOnly: true
          example: "clm8x9def0002jk08example34"
    MobileTransferList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/MobileTransfer"
          description: Lista de pagos por SINPE Móvil.
        meta:
          type: object
          properties:
            total:
              type: number
              description: El número total de registros que coinciden con los filtros.
              example: 150
            hasMore:
              type: boolean
              description: Indica si hay más registros disponibles después del último elemento retornado.
              example: true
    Customer:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del objeto.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        address:
          type: object
          description: La dirección del cliente.
          properties:
            city:
              type: string
              description: Nombre de ciudad o pueblo.
              example: "San José"
            country:
              type: string
              description: El código de país en dos caracteres (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>).
              example: "CR"
            line1:
              type: string
              description: "Primera línea de la dirección. (Ej: Calle, nombre de empresa)."
              example: null
            line2:
              type: string
              description: "Segunda línea de la dirección. (Ej: Edificio, apartamento, número de casa)."
              example: null
            postalCode:
              type: string
              description: Código postal o código ZIP.
              example: "10101"
            state:
              type: string
              description: Estado, provincia o región.
              example: "San José"
        amountSpent:
          type: number
          description: El monto total, en USD y en centavos, acumulado de transacciones satisfactorias del cliente.
          readOnly: true
        description:
          type: string
          description: Texto arbitrario adjunto al objeto. Comúnmente útil para mostrar a usuarios.
          example: "Cliente de prueba"
        createdAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        email:
          type: string
          format: email
          description: La dirección de correo electrónico del cliente.
          example: "test_customer@onvopay.com"
        lastTransactionAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, de la última transacción satisfactoria del cliente.
          readOnly: true
          example: null
        mode:
          type: string
          description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
          readOnly: true
          enum:
            - test
            - live
        name:
          type: string
          description: El nombre completo del cliente.
          example: "John Doe"
        phone:
          type: string
          description: "El número de teléfono del cliente, incluyendo código de área (Ej: +50688880000)"
          example: "+50688880000"
        shipping:
          type: object
          description: La dirección de entrega a domicilio del cliente.
          properties:
            address:
              type: object
              description: La dirección del cliente.
              properties:
                city:
                  type: string
                  description: Nombre de ciudad o pueblo.
                  example: null
                country:
                  type: string
                  description: El código de país en dos caracteres (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>).
                  example: "CR"
                line1:
                  type: string
                  description: "Primera línea de la dirección. (Ej: Calle, nombre de empresa)."
                  example: null
                line2:
                  type: string
                  description: "Segunda línea de la dirección. (Ej: Edificio, apartamento, número de casa)."
                  example: null
                postalCode:
                  type: string
                  description: Código postal o código ZIP.
                  example: null
                state:
                  type: string
                  description: Estado, provincia o región.
                  example: null
            name:
              type: string
              description: Nombre del cliente o persona que recibe.
              example: "John Doe"
            phone:
              type: string
              description: Teléfono del cliente (incluyendo extensión).
              example: null
        transactionsCount:
          type: number
          description: Conteo histórico de las transacciones satisfactorias del cliente.
          readOnly: true
        updatedAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue actualizado por última vez el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del objeto.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        billing:
          type: object
          description: La dirección de facturación del método de pago.
          properties:
            address:
              type: object
              description: La dirección del cliente.
              properties:
                city:
                  type: string
                  description: Nombre de ciudad o pueblo.
                  example: null
                country:
                  type: string
                  description: El código de país en dos caracteres (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>).
                  example: "CR"
                line1:
                  type: string
                  description: "Primera línea de la dirección. (Ej: Calle, nombre de empresa)."
                  example: null
                line2:
                  type: string
                  description: "Segunda línea de la dirección. (Ej: Edificio, apartamento, número de casa)."
                  example: null
                postalCode:
                  type: string
                  description: Código postal o código ZIP.
                  example: null
                state:
                  type: string
                  description: Estado, provincia o región.
                  example: null
            name:
              type: string
              description: Nombre del cliente o persona que recibe.
              example: "John Doe"
            phone:
              type: string
              description: Teléfono del cliente (incluyendo extensión).
              example: null
        card:
          type: object
          description: "La información sobre la tarjeta de crédito o débito, cuando el tipo de método de pago sea `card`."

          properties:
            brand:
              type: string
              description: El nombre de la marca de la tarjeta. Puede ser `visa` o `mastercard`.
              example: "mastercard"
              readOnly: true
              enum:
                - visa
                - mastercard
            expMonth:
              type: integer
              description: El mes de expiración de la tarjeta.
              example: 12
              readOnly: true
            expYear:
              type: integer
              description: El año de expiración de la tarjeta.
              example: 2026
              readOnly: true
            last4:
              type: string
              description: Los últimos cuatro dígitos de la tarjeta.
              example: "4242"
              readOnly: true

        createdAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        customerId:
          type: string
          description: Identificador único del [cliente](#tag/Clientes) al que pertenece el método de pago.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        mobileNumber:
          type: object
          description: "La información sobre el número asociado a SINPE Móvil, cuando el tipo de método de pago es `mobile_number`."
          properties:
            maskedNumber:
              type: string
              description: El número de teléfono, con los dígitos parcialmente ocultos.
              example: "+5068*****96"
              readOnly: true
        bankDeposit:
          type: object
          description: "La información sobre el depósito bancario (SINPE PIN), cuando el tipo de método de pago es `bank_deposit`."
          properties:
            identification:
              type: string
              description: El número de identificación del cliente asociado al depósito bancario.
              example: "01-2345-6789"
              readOnly: true
            identificationType:
              type: number
              description: |
                El tipo de identificación del cliente. Puede ser:
                - 1: Cédula física.
                - 2: Cédula jurídica.
                - 3: DIMEX.
                - 4: NITE.
              example: 1
              readOnly: true
            maskedIBAN:
              type: string
              description: El número IBAN de la cuenta bancaria, con los dígitos parcialmente ocultos.
              example: "CR12**************7890"
              readOnly: true
        mode:
          type: string
          description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
          readOnly: true
          enum:
            - test
            - live
        status:
          type: string
          description: |
            El estado actual del método de pago. Puede ser uno de los siguientes:
            - Activo: `active`: Es el estado en el que los métodos de pago pueden ser utilizados para realizar transacciones.
            - Pendiente de autorización: `awaiting_authorization`. El método de pago requiere una autorización externa antes de activarse.
            - Requiere verificación: `requires-verification`. El método de pago debe verificarse antes de usarse.
            - Desconectado: `detached`. Es el estado en el que quedan los métodos de pago luego de haber sido removidos de un cliente. Este estatus es irreversible y el método de pago no se puede volver a utilizar.
            - Suspendido: `suspended`. Es un estado para los métodos de pago que han recibido una suspensión por parte de la plataforma. Estos métodos de pago no pueden ser utilizados para realizar transacciones.
            - Rechazado por ADA: `ada-rejected`. La verificación automática no aprobó el método de pago.
          readOnly: true
          enum:
            - awaiting_authorization
            - requires-verification
            - active
            - detached
            - suspended
            - ada-rejected
        type:
          type: string
          description: |
            El tipo de método de pago. Puede ser uno de los siguientes:
            - Tarjetas de crédito/débito VISA o MASTERCARD: `card`
            - SINPE Móvil: `mobile_number`
            - Depósito Bancario (SINPE PIN): `bank_deposit`
            - CREDIX: `credix`
            - Zunify: `zunify`
            - Crypto: `crypto`
            - Tasa cero: `tasa_cero`
            - Terminal: `terminal`
          readOnly: true
          enum:
            - card
            - mobile_number
            - bank_deposit
            - credix
            - zunify
            - crypto
            - tasa_cero
            - terminal
          example: card
        updatedAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue actualizado por última vez el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
    VerifyPaymentMethodResponse:
      type: object
      properties:
        verified:
          type: boolean
          description: Indica si el metodo de pago fue verificado o no.
          example: true
    VerifyPaymentMethodNotRequired:
      type: object
      properties:
        statusCode:
          type: number
          description: ""
          example: 400
        message:
          type: string
          description: ""
          example: "The provided payment method type does not require this verification. Please, verify the data and try again."
    PaymentMethodResponse:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del objeto.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        billing:
          type: object
          description: La dirección de facturación del método de pago.
          properties:
            address:
              type: object
              description: La dirección del cliente.
              properties:
                city:
                  type: string
                  description: Nombre de ciudad o pueblo.
                  example: null
                country:
                  type: string
                  description: El código de país en dos caracteres (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>).
                  example: "CR"
                line1:
                  type: string
                  description: "Primera línea de la dirección. (Ej: Calle, nombre de empresa)."
                  example: null
                line2:
                  type: string
                  description: "Segunda línea de la dirección. (Ej: Edificio, apartamento, número de casa)."
                  example: null
                postalCode:
                  type: string
                  description: Código postal o código ZIP.
                  example: null
                state:
                  type: string
                  description: Estado, provincia o región.
                  example: null
            name:
              type: string
              description: Nombre del cliente o persona que recibe.
              example: "John Doe"
            phone:
              type: string
              description: Teléfono del cliente (incluyendo extensión).
              example: null

        createdAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        customerId:
          type: string
          description: Identificador único del [cliente](#tag/Clientes) al que pertenece el método de pago.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        mode:
          type: string
          description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
          readOnly: true
          enum:
            - test
            - live
        status:
          type: string
          description: |
            El estado actual del método de pago. Puede ser uno de los siguientes:
            - Activo: `active`: Es el estado en el que los métodos de pago pueden ser utilizados para realizar transacciones.
            - Pendiente de autorización: `awaiting_authorization`. El método de pago requiere una autorización externa antes de activarse.
            - Requiere verificación: `requires-verification`. El método de pago debe verificarse antes de usarse.
            - Desconectado: `detached`. Es el estado en el que quedan los métodos de pago luego de haber sido removidos de un cliente. Este estatus es irreversible y el método de pago no se puede volver a utilizar.
            - Suspendido: `suspended`. Es un estado para los métodos de pago que han recibido una suspensión por parte de la plataforma. Estos métodos de pago no pueden ser utilizados para realizar transacciones.
            - Rechazado por ADA: `ada-rejected`. La verificación automática no aprobó el método de pago.
          readOnly: true
          enum:
            - awaiting_authorization
            - requires-verification
            - active
            - detached
            - suspended
            - ada-rejected
        type:
          type: string
          description: |
            El tipo de método de pago. Puede ser uno de los siguientes:
            - Tarjetas de crédito/débito VISA o MASTERCARD: `card`
            - SINPE Móvil: `mobile_number`
            - Depósito Bancario (SINPE PIN): `bank_deposit`
            - CREDIX: `credix`
            - Zunify: `zunify`
            - Crypto: `crypto`
            - Tasa cero: `tasa_cero`
            - Terminal: `terminal`

          readOnly: true
          enum:
            - card
            - mobile_number
            - bank_deposit
            - credix
            - zunify
            - crypto
            - tasa_cero
            - terminal
          example: card
        updatedAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue actualizado por última vez el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
    VerifyPaymentMethod:
      type: object
      properties:
        amount:
          type: number
          description: El monto depositado en la cuenta IBAN, en formato de centavos.
          example: 99
    PaymentMethodVerification:
      type: object
      properties:
        id:
          type: string
          description: Identificador único de la verificación.
          readOnly: true
          example: pmv_123
        IBAN:
          type: string
          description: Cuenta IBAN asociada a la verificación.
          readOnly: true
          example: CR02010200000000000001
        verificationType:
          type: string
          description: Tipo de verificación aplicada.
          readOnly: true
          example: manual
        identificationType:
          type: number
          description: Tipo de identificación asociada a la cuenta bancaria.
          readOnly: true
          example: 0
        identification:
          type: string
          description: Número de identificación asociado a la cuenta bancaria.
          readOnly: true
          example: 01-1393-1919
        currency:
          type: string
          description: Moneda usada para la verificación.
          readOnly: true
          example: CRC
        status:
          type: string
          description: Estado actual de la verificación.
          readOnly: true
          example: pending
        createdAt:
          type: string
          description: Fecha y hora, en formato ISO 8601 y zona horaria UTC, en la que fue creada la verificación.
          readOnly: true
          example: 2026-01-10T21:21:10.587Z
        updatedAt:
          type: string
          description: Fecha y hora, en formato ISO 8601 y zona horaria UTC, en la que fue actualizada por última vez la verificación.
          readOnly: true
          example: 2026-01-10T21:21:10.587Z
    BankAccountCheckInfo:
      type: object
      properties:
        IBAN:
          type: string
          minLength: 22
          maxLength: 22
          description: Número IBAN de la cuenta bancaria a validar.
          example: "CR02010200000000000001"
        identification:
          type: string
          minLength: 1
          maxLength: 30
          description: Número de identificación asociado a la cuenta.
          example: "01-1393-1919"
        identificationType:
          type: number
          description: Tipo de identificación asociado a la cuenta.
          example: 0
    BankAccountCheckInfoResponse:
      type: object
      properties:
        found:
          type: boolean
          description: Indica si ONVO encontró una cuenta válida para esos datos.
          example: true
        currency:
          type: string
          description: Moneda reportada por la cuenta bancaria.
          example: CRC
        isVerified:
          type: boolean
          description: Indica si la cuenta ya está verificada para uso en ONVO.
          example: false
    CreatePaymentMethod:
      type: object
      properties:
        billing:
          type: object
          description: La dirección de facturación del método de pago.
          properties:
            address:
              type: object
              description: El detalle de la dirección de facturación.
              properties:
                city:
                  type: string
                  description: Nombre de ciudad o pueblo.
                  example: null
                country:
                  type: string
                  description: El código de país en dos caracteres (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>).
                  example: "CR"
                line1:
                  type: string
                  description: "Primera línea de la dirección. (Ej: Calle, nombre de empresa)."
                  example: null
                line2:
                  type: string
                  description: "Segunda línea de la dirección. (Ej: Edificio, apartamento, número de casa)."
                  example: null
                postalCode:
                  type: string
                  description: Código postal o código ZIP.
                  example: null
                state:
                  type: string
                  description: Estado, provincia o región.
                  example: null
            name:
              type: string
              description: Nombre asociado a la facturación.
              example: "John Doe"
            phone:
              type: string
              description: Teléfono (incluyendo extensión).
              example: null
            email:
              type: string
              description: Correo electrónico.
              example: null
            idType:
              type: string
              description: |
                El tipo de identificación del cliente. Puede ser uno de los siguientes:
                - national_natural_person: Persona física nacional.
                - resident_natural_person: Persona física residente.
                - government: Entidad estatal.
                - legal_person: Persona jurídica.
                - autonomous_institution: Institución autónoma.
                - diplomatic: Diplomático.
                - foreign_person: Extranjero.
              example: national_natural_person
              enum:
                - national_natural_person
                - resident_natural_person
                - government
                - legal_person
                - autonomous_institution
                - diplomatic
                - foreign_person
            idNumber:
              type: string
              minLength: 12
              maxLength: 12
              description: |
                El número de identificación del cliente asociado. Dependiendo del tipo, debe de enviarse en este formato: 
                - national_natural_person: `0#-####-####` (Ej: 01-1393-1919)
                - resident_natural_person: `1###########` (Ej: 1293817461127)
                - government: `2-###-######` (Ej: 2-100-000001)
                - legal_person': `3-###-######` (Ej: 3-101-212393)
                - autonomous_institution: `4-000-######` (Ej: 4-000-042141)
                - diplomatic: `5###########` (Ej: 5123456789011)
                - foreign_person: `1###########` (Ej: 1293817461127)
              example: 01-1393-1919
        card:
          type: object
          description: "La información sobre la tarjeta de crédito o débito. Cuando el tipo de método de pago sea `card`, este objeto será requerido."
          required:
            - number
            - expMonth
            - expYear
            - holderName
          properties:
            number:
              type: string
              pattern: "^[0-9]+$"
              description: El número de la tarjeta. Enviá solo dígitos, sin espacios ni separadores. El número también debe pasar validación Luhn.
              example: "4242424242424242"
            expMonth:
              type: integer
              minimum: 1
              maximum: 12
              description: El mes de expiración de la tarjeta.
              example: 12
            expYear:
              type: integer
              minimum: 2023
              maximum: 2100
              description: El año de expiración de la tarjeta en cuatro dígitos.
              example: 2026
            cvv:
              type: string
              pattern: "^[0-9]{3,4}$"
              description: El código de seguridad de la tarjeta. Si lo enviás, debe contener 3 o 4 dígitos.
              example: "123"
            holderName:
              type: string
              minLength: 1
              description: El nombre del titular de la tarjeta.
              example: "John Doe"
        credix:
          type: object
          description: "La información sobre la tarjeta CREDIX. Cuando el tipo de método de pago sea `credix`, este objeto será requerido."
          properties:
            number:
              type: string
              description: El número de la tarjeta.
              example: "4111111111111111"
            expMonth:
              type: integer
              description: El mes de expiración de la tarjeta.
              example: 12
            expYear:
              type: integer
              description: El año de expiración de la tarjeta.
              example: 2026
            cvv:
              type: string
              description: El código de seguridad de la tarjeta.
              example: "123"
            holderName:
              type: string
              description: El nombre del titular de la tarjeta.
              example: "John Doe"
            brand:
              type: string
              description: Marca de la tarjeta, si está disponible.
              example: "credix"
            last4:
              type: string
              description: Últimos cuatro dígitos de la tarjeta, si están disponibles.
              example: "1111"
            identifier:
              type: string
              description: Identificador adicional provisto por CREDIX, si aplica.
              example: "credix_customer_123"
        crypto:
          type: object
          description: "La información del pago cripto. Cuando el tipo de método de pago sea `crypto`, este objeto será requerido."
          properties:
            cryptoPaymentId:
              type: string
              description: Identificador único del pago cripto creado por el proveedor.
              example: "crypto_pay_123"
        createdAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        customerId:
          type: string
          description: Identificador único del [cliente](#tag/Clientes) al que pertenece el método de pago. Si no se especifica, se creará un nuevo cliente y se asociará al método de pago automáticamente. Para cuentas de comercio creadas en Perú, el cliente referenciado debe haber sido creado con el atributo `email`.
          example: cl502zv0d0127ebdp3zt27651
        customer: 
          type: object
          description: "La información sobre el cliente. Utilizado para crear un nuevo cliente y asociarlo al método de pago en la misma petición. Si se especifica, no se debe especificar el campo `customerId`. Para cuentas de comercio creadas en Perú, enviá `email` en este objeto."
          properties:
            name:
              type: string
              description: Nombre del cliente.
              example: "John Doe"
            email:
              type: string
              format: email
              description: Correo electrónico del cliente.
              example: "test_customer@onvopay.com"
            phone:
              type: string
              description: "El número de teléfono del cliente, incluyendo código de área (Ej: +50688880000)"
              example: "+50688880000"
        # consumerId:
        #   type: string
        #   description: Identificador único del comprador al que pertenece el método de pago.
        #   nullable: true
        #   example: cl502zv0d0127ebdp3zt27652
        mobileNumber:
          type: object
          description: "La información sobre el número asociado a SINPE Móvil. Cuando el tipo de método de pago sea `mobile_number`, este objeto será requerido."
          properties:
            identification:
              type: string
              minLength: 12
              maxLength: 12
              description: |
                El número de identificación del cliente asociado a la cuenta SINPE Móvil. Dependiendo del tipo, debe de enviarse en este formato: 
                - 0: `0#-####-####` (Ej: 01-1393-1919)
                - 1: `1###########` (Ej: 1293817461127)
                - 2: `2-###-######` (Ej: 2-100-000001)
                - 3: `3-###-######` (Ej: 3-101-212393)
                - 4: `4-000-######` (Ej: 4-000-042141)
                - 5: `5###########` (Ej: 5123456789011)
                - 9: `9###########` (Ej: 9CA9381461127)

                Se pueden utilizar librerías con funcionalidades como las de [react-number-format](https://www.npmjs.com/package/react-number-format) para formatear el número de identificación en inputs de texto.
              example: 01-1393-1919
            identificationType:
              type: number
              description: |
                El tipo de identificación asociado a la cuenta SINPE Móvil. Puede ser uno de los siguientes:
                - 0: Persona física nacional.
                - 1: Persona física residente.
                - 2: Entidad estatal.
                - 3: Persona jurídica.
                - 4: Institución autónoma.
                - 5: Diplomático.
                - 9: Extranjero.
              example: 0
              enum:
                - 0
                - 1
                - 2
                - 3
                - 4
                - 5
                - 9
            number:
              type: string
              minLength: 12
              maxLength: 12
              description: "El número de teléfono previamente asociado a SINPE Móvil, incluyendo código de área (Ej: +50688880000)"
              example: "+50688880000"
        bankDeposit:
          type: object
          description: "La información sobre el depósito bancario (SINPE PIN). Cuando el tipo de método de pago sea `bank_deposit`, este objeto será requerido."
          properties:
            identification:
              type: string
              minLength: 1
              maxLength: 30
              description: |
                El número de identificación del cliente que realizará la transferencia bancaria. Este campo se utiliza para asociar automáticamente la transferencia entrante con la intención de pago.

                Debe coincidir con la identificación registrada en la cuenta bancaria del cliente (ej: `01-2345-6789` para cédula física).
              example: "01-2345-6789"
            identificationType:
              type: number
              description: |
                El tipo de identificación del cliente. Puede ser uno de los siguientes:
                - 1: Cédula física.
                - 2: Cédula jurídica.
                - 3: DIMEX.
                - 4: NITE.
              example: 1
              enum:
                - 1
                - 2
                - 3
                - 4
            IBAN:
              type: string
              description: "El número IBAN de la cuenta bancaria del cliente (opcional). Ej: CR12345678901234567890"
              example: "CR12345678901234567890"
        zunify:
          type: object
          description: "La información sobre el número asociado a Zunify. Cuando el tipo de método de pago sea `zunify`, este objeto será requerido."
          properties:
            pin:
              type: string
              minLength: 4
              maxLength: 4
              description: |
                El número de PIN establecido en la aplicación de Zunify.
              example: 1234
            phoneNumber:
              type: string
              minLength: 12
              maxLength: 12
              description: "El número de teléfono previamente asociado a Zunify, sin código de área (Ej: 11223344)"
              example: "11223344"
        type:
          type: string
          description: |
            El tipo de método de pago. Puede ser uno de los siguientes:
            - Tarjetas de crédito/débito VISA o MASTERCARD: `card`
            - SINPE Móvil: `mobile_number`
            - Depósito Bancario (SINPE PIN): `bank_deposit`
            - CREDIX: `credix`
            - Zunify: `zunify`
            - Crypto: `crypto`

            Cada tipo de método de pago tiene sus propiedades específicas representadas en los objetos de `card`, `mobileNumber`, `bankDeposit`, `credix`, `zunify` y `crypto`, respectivamente. Cada objeto correspondiente será requerido, según el tipo de método de pago, y los restantes objetos para los otros tipos de método de pago deben omitirse o se retornará un error de validación.
          enum:
            - card
            - mobile_number
            - bank_deposit
            - credix
            - zunify
            - crypto
          example: card
    UpdatePaymentMethod:
      type: object
      properties:
        billing:
          type: object
          description: La dirección de facturación del método de pago.
          properties:
            address:
              type: object
              description: El detalle de la dirección de facturación.
              properties:
                city:
                  type: string
                  description: Nombre de ciudad o pueblo.
                  example: null
                country:
                  type: string
                  description: El código de país en dos caracteres (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2" target="_blank">ISO 3166-1 alpha-2</a>).
                  example: "CR"
                line1:
                  type: string
                  description: "Primera línea de la dirección. (Ej: Calle, nombre de empresa)."
                  example: null
                line2:
                  type: string
                  description: "Segunda línea de la dirección. (Ej: Edificio, apartamento, número de casa)."
                  example: null
                postalCode:
                  type: string
                  description: Código postal o código ZIP.
                  example: null
                state:
                  type: string
                  description: Estado, provincia o región.
                  example: null
            name:
              type: string
              description: Nombre asociado a la facturación.
              example: "John Doe"
            phone:
              type: string
              description: Teléfono (incluyendo extensión).
              example: null
        card: 
          type: object 
          description: "En caso de que el tipo de método de pago sea `card`, se puede utilizar este objeto para re-tokenizar la tarjeta."
          properties:
            cvv:
              type: string
              description: El código de seguridad de la tarjeta.
              example: "123"
    Refund:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del objeto.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        amount:
          type: integer
          description: |
            El monto del reembolso. Si no se indica un monto en la creación, se reembolsará el monto total de la intención de pago. El monto no puede ser mayor al monto de la intención de pago. Debe ser un número entero positivo representando el monto en la menor denominación posible de la moneda (centavos para el caso de `USD` y céntimos para `CRC`)
          example: 150
        currency:
          type: string
          readOnly: true
          description: El tipo de moneda de la intención de pago.
          example: "USD"
          enum:
            - USD
            - CRC
            - GTQ
            - NIO
            - PAB
            - PEN
            - MXN
            - COP
            - HNL
        createdAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        paymentIntentId:
          type: string
          description: Identificador único de la [intención de pago](#tag/Intenciones-de-pago) a la que pertenece el reembolso.
          example: cl502zv0d0127ebdp3zt27651
        description:
          type: string
          description: Texto arbitrario adjunto al objeto. Comúnmente útil para mostrar a usuarios.
          example: "Reembolso de prueba"
        mode:
          type: string
          description: El modo en el que existen los datos del objeto. Ya sea `test` o `live`.
          readOnly: true
          enum:
            - test
            - live
        status:
          type: string
          description: |
            El estado del reembolso. Puede ser uno de los siguientes:
            - Pendiente: `pending`. Estado de un reembolso en curso.
            - Satisfactorio: `succeeded`. Este estado se produce luego de el reembolso fue procesado de forma satisfactoria.
            - Fallido: `failed`. Estado resultante si el reembolso no pudo se procesado.
          readOnly: true
          enum:
            - pending
            - succeeded
            - failed
        reason:
          type: string
          default: requested_by_customer
          description: |
            La razón del reembolso. Si no se indica una razón, se utilizará la razón por defecto.
            Puede ser uno de los siguientes:
            - Reembolso por solicitud del cliente: `requested_by_customer`. El reembolso fue solicitado por el cliente.
            - Reembolso por fraude: `fraudulent`. El reembolso fue solicitado por el cliente debido a un fraude.
            - Duplicado: `duplicate`. El reembolso fue solicitado por el cliente debido a un cobro duplicado.
            - Otro: `other`. Se usa cuando el motivo no calza con las categorías anteriores.
          enum:
            - requested_by_customer
            - fraudulent
            - duplicate
            - other
          example: requested_by_customer
        updatedAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue actualizado por última vez el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        failureReason:
          type: string
          description: En caso de fallar el reembolso, se incluirá el motivo del fallo.
          readOnly: true
          example: declined
    PaymentIntent:
      type: object
      properties:
        id:
          type: string
          description: Identificador único del objeto.
          readOnly: true
          example: cl502zv0d0127ebdp3zt27651
        amount:
          type: integer
          description: |
            El monto a cobrar en la intención de pago. Debe ser un número entero positivo representando el monto en la menor denominación posible de la moneda (centavos para el caso de `USD` y céntimos para `CRC`).
            Por ejemplo, si la moneda es `USD` y el monto a cobrar es $1.50, el valor indicado debe ser  `150`.
            De igual forma, si la moneda es `CRC` y el monto a cobrar es ₡2,100.89, el valor indicado debe ser `210089`.
            El monto mínimo es $0.50 para `USD` y el correspondiente equivalente en colones para `CRC`.
          example: 150
        baseAmount:
          type: integer
          description: |
            El correspondiente monto en `USD` del monto indicado en `amount` según el tipo de cambio al momento de su creación.
          example: 102676
          readOnly: true
        exchangeRate:
          type: float
          description: |
            El tipo de cambio utilizado para calcular el valor asignado a `baseAmount`.
          example: 0.0015
          readOnly: true
        capturableAmount:
          type: integer
          description: |
            El monto capturable de la intención de pago. Al momento de crear la intención de pago, este valor es igual al monto indicado en `amount`.
          example: 150
          readOnly: true
        receivedAmount:
          type: integer
          description: |
            El monto recibido de la intención de pago. Este valor es igual al monto indicado en `amount` si la intención de pago se encuentra en estado `succeeded`. El monto puede variar si se realizar un reembolso parcial o total de la intención de pago, así como una captura por un monto menor al monto autorizado.
          example: 150
          readOnly: true
        captureMethod:
          type: string
          description: Atributo opcional para indicar el tipo de captura que se desea realizar. Puede ser `manual` o `automatic`. Si no se indica, se utilizará el valor por defecto `automatic`. Intenciones de pago con captura manual solo se pueden confirmar con métodos de pago de tipo `card`. Una vez confirmada, la intención de pago retornará el estado `requires_capture` y deberá ser capturada manualmente. Si no se completa la captura en un máximo de 30 días, los fondos serán liberados de vuelta al cliente.
          example: "automatic"
          enum:
            - manual
            - automatic
          default: automatic
        currency:
          type: string
          description: El tipo de moneda de la intención de pago.
          example: "USD"
          enum:
            - USD
            - CRC
            - GTQ
            - NIO
            - PAB
            - PEN
            - MXN
            - COP
            - HNL
        createdAt:
          type: string
          description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
          readOnly: true
          example: 2022-06-12T21:21:10.587Z
        customerId:
          type: string
          description: Identificador único del [cliente](#tag/Clientes) al que pertenece la intención de pago.
          example: cl502zv0d0127ebdp3zt27651
        description:
          type: string
          description: Texto arbitrario adjunto al objeto. Comúnmente útil para mostrar a usuarios.
          example: "Intención de pago de prueba"
        charges:
          type: array
          description: Lista de cargos asociados a la intención de pago. Cada cargo representa un intento de cobro con su respectivo estado.
          readOnly: true
          items:
            type: object
            properties:
              id:
                type: string
                description: Identificador único del objeto.
                readOnly: true
                example: ch502zv0d0127ebdp3zt27651
              amount:
                type: integer
                description: |
                  El monto a cobrar en la intención de pago. Debe de ser un número entero positivo representando el monto en la menor denominación posible de la moneda (centavos para el caso de `USD` y céntimos para `CRC`).
                  Por ejemplo, si la moneda es `USD` y el monto a cobrar es $1.50, el valor indicado debe ser  `150`.
                  De igual forma, si la moneda es `CRC` y el monto a cobrar es ₡2,100.89, el valor indicado debe ser `210089`.
                  El monto mínimo es $0.50 para `USD` y el correspondiente equivalente en colones para `CRC`.
                example: 150
              baseAmount:
                type: integer
                description: |
                  El correspondiente monto en `USD` del monto indicado en `amount` según el tipo de cambio al momento de su creación.
                example: 102676
                readOnly: true
              exchangeRate:
                type: float
                description: |
                  El tipo de cambio utilizado para calcular el valor asignado a `baseAmount`.
                example: 0.0015
                readOnly: true
              currency:
                type: string
                description: El tipo de moneda de la intención de pago.
                example: "USD"
                enum:
                  - USD
                  - CRC
                  - GTQ
                  - NIO
                  - PAB
                  - PEN
                  - MXN
                  - COP
                  - HNL
              createdAt:
                type: string
                description: Fecha y hora, en formato <a href="https://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8901</a> y con zona horaria en <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" target="_blank">UTC</a>, en la que fue creado el objeto.
                readOnly: true
                example: 2022-06-12T21:21:10.587Z
              failureCode:
                type: string
                description: |
                  Código de error asociado al intento de cobro. Este código indica el tipo de error de procesamiento que ocurrió al intentar cobrar la intención de pago.
                example: "Declinado"
                readOnly: true
              failureMessage:
                type: string
                description: |
                  Mensaje de error asociado al intento de cobro. Este mensaje es único para cada intento de cobro y puede ser utilizado para identificar el error específico que ocurrió.
                  Los mensajes de error pueden ser consultados en la sección de [errores](#section/Errores).
                example: "Fondos insuficientes"
                readOnly: true
              isApproved:
                type: boolean
                description: |
                  Indica si el intento de cobro fue aprobado. Un intento de cobro puede ser aprobado o rechazado por el banco emisor de la tarjeta de crédito o débito.
                example: false
                readOnly: true
              isCaptured:
                type: boolean
                description: |
                  Indica si el intento de cobro fue capturado. Aplica únicamente para tarjetas de crédito o débito.
                example: false
                readOnly: true
              status:
                type: string
                description: |
                  Estado del intento de cobro. Los estados posibles son:
                  - `Pending`: El intento de cobro está pendiente de ser procesado.
                  - `Succeeded`: El intento de cobro fue aprobado y procesado exitosamente.
                  - `Failed`: El intento de cobro falló.
                example: "failed"
                readOnly: true
                enum:
                  - pending
                  - succeeded
                  - failed
        lastPaymentError:
          type: object
          description: |
            Objeto que contiene información sobre el último error ocurrido al intentar cobrar la intención de pago.
          readOnly: true
          properties:
            code:
              type: string
              description: |
                Código de error asociado al intento de cobro. Este código indica el tipo de error de procesamiento que ocurrió al intentar cobrar la intención de pago.
              example: "Declinado"
              readOnly: true
            message:
              type: string
              description: |
[...]
